<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Service - CarSeva</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("partials/navbar") %>
    <section>
      <div class="container">
        <h2>Book Service</h2>
        <%- include("partials/bookservice") %>
      </div>
    </section>
    <%- include("partials/footer") %> <%- include("partials/loginModal") %>
  </body>
</html>
